@media screen and (max-width:700px){
    header .container{
        display: flex;

    }

    .botao{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        width: 190px;
    }
    .botoes{
        margin-bottom: 10px;
    }

    header .logo{
        font-size: 20px;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}