:root{
    --backColor: rgb(26, 7, 7);
    --fundo: rgb(128, 9, 0);
    --preta: #141414;
    --cinza: rgb(202, 196, 188);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.logo #span-color{
    color: var(--cinza);
}

/*elementos base*/
body{
    background: var(--backColor);
    font-family: Helvetica, sans-serif;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
}

header .primeira-nav{
    height: 50px;
    width: 100%;
    margin-right: 20px;
}

header label.logo{
    color: var(--fundo);
    font-size: 30px;
    line-height: 50px;
    font-weight: bold;
}

header .container .primeira-nav ul{
    float: right;
}

header .container .primeira-nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}
header .container .primeira-nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #AAA;
    font-size: 12px;
}
header .container .primeira-nav ul li a:hover{
    color: #fff;
    transition: .3s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 50px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

/*filme principal*/
#filme-principal{
    font-size: 16px;
    height: 450px;
    background-size: cover;
    background-image: linear-gradient(280deg, rgba(0,0,0,.50),rgba(0,0,0,1)100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#filme-principal #descricao{
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 12px;
    text-align: justify;
    width: 50%;
}

#informacoes #detalhes-extras{
    margin: 15px 0;
}
#avaliacao{
    color: rgb(10, 158, 10);
    font-weight: bold;
    margin-right: 20px;
}
#ano{
    font-weight: bold;
    margin-right: 20px;
}
#temporadas{
    font-weight: bold;
}

#filme-principal #titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
#informacoes{
    visibility: hidden;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}
.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}
.botoes .botao a{
    height: 30px;
    width: 40px;
}

.container{
    margin-left: 20px;
}

#filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 5px;
}

.carrosel-filmes .item{
    cursor: pointer;
}
